* {
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

